/* Colors and fonts*/

body {
  background: #F7F9FC;
  color: #575F7D;
  font-family: 'Lora', serif;
  font-size: 17 px;
  font-weight: lighter;
}
h1, h2, h3 {
	font-family: 'roboto', sans-serif;
}
h1 {
	 color: #575F7D;
	 font-size: 32px;
	 font-weight: 900;
}
h2{
	color: #00B4D8;
	font-family: 'Slabo 27px', serif;;

	font-weight: lighter;}

a{
	font font-family: 'roboto' sans-serif;
	text-decoration: none;
	color: #6B72E1;
	font-weight: 600;
	font-size: 16px;
}
a:hover {
	color: black;
}

/* Custom design with class (99% of your design)*/
.container {
	width: 700px;
	margin: 40px auto;
}

@media (max-width:  980px) {

	.container{
		width: 900px;
	}
}

@media (max-width:  760px) {

	.container{
		width: 600px;
	}
}


@media (max-width:  500px) {

	.container{
		width: 400px;
	}
}



.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30 px rgba(0, 0, 0, .1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}
.img-circle {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	font-size: 10 px;
}
.btn-blue {
	background-color: #6B72E1;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}
.btn-blue:hover{
	background-color: black;
	color: white;
}
.list-horizontale{
	list-style: none;
	padding-left: 0px;
}
.list-horizontale li {
	display: inline;
	padding: 10px;
}
.list-horizontale i{
	font-size: 50 px;
	color:  rgb(230, 230, 230);
}
.list-horizontale i:hover {
	font-size: 25px;
}
